.header{
    -fx-background-color: #31A6FE;
}

.bodyBg{
    -fx-background-color:#1081D7;
}
.textProps{
    -fx-font-family: "Arial Black";
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.titleLabelText{
    -fx-font-size: 22;
    -fx-font-family: "Avenir Black";
    -fx-label-padding: 0 0 0 20 ;
    -fx-text-fill: white;
}